._reviews {
    display: flex;
    flex-direction: column;
}

.review {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    &__img {
        width: 169px;
        height: 169px;
    }
    &__description {
        width: 650px;
        .name {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
            line-height: 13px;
            margin-bottom: 10px;
        }
        .acievement {
            color: #64646489;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 19px;
            line-height: 12px;
        }
        .text {
            color: #0d0d0d;
            font-size: 15px;
            font-weight: 300;
            line-height: 20px;
        }
    }
}